# Authentication settings
#auth-service:          # ptc (default) or google
#username:              fsuimtraining
#password:              tully-1035

# Database settings
#db-type: sqlite        # sqlite (default) or mysql
#db-host:               # required for mysql
#db-name:               # required for mysql
#db-user:               # required for mysql
#db-pass:               # required for mysql

# Search settings
#location:              Tallahassee, FL
#no-gyms:               # disables gym scanning (default false)
#no-pokemon:            # disables pokemon scanning (default false)
#no-pokestops:          # disables pokestop scanning (default false)
#num-threads:           # number of search threads (default 1)
#scan-delay:            # default 5
#step-limit:            # default 7

# Misc
#gmaps-key:             AIzaSyCE-meN5ocUn7Loydf6k15wKzUuOF2Ruwg 
#webhook:               # webhook URL (including http://)

# Webserver settings
#host:                  # address to listen on (default 127.0.0.1)
#port:                  # port to listen on (default 5000)
